:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(202, 29, 29);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

title {
  color: red;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.obscure{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  animation: fin 1.5s linear 1;
}

@keyframes fin{
  from{
    background-color: black;
  }
  to{
    background-color: transparent;
  }
}

h1 {
  font-size: 5vh;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: 1;
}

#titlecontent{
  position: absolute;
  color: rgb(202, 29, 29);
  text-align: center;
  top:25%;
  width:100%;
  left:0;
}

#bodycontent{

  position: absolute;
  color: rgb(202, 29, 29);
  text-align: center;
  top:50%;
  width:100%;
  left:0;

  font-size: 150%;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(221, 17, 17);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ekg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url('/ekg-line.png');
    background-repeat: repeat repeat;
    background-size: auto 33%;
    animation: moveEKG 60s linear infinite;
    z-index: -1;
}

@keyframes moveEKG {
    from {
        /* Start at position 0 */
        background-position-x: 0;
    }
    to {
        /* The distance of one full image width for a seamless loop */
        background-position-x: -1000%;
    }
}


/*Reyansh's Header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  width: 100%;
  background-color: rgb(253, 189, 67);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
  margin-left: 0.5em;
  font-size: 2.8em;
  font-weight: 400;
  color: red  ;
}

header img {
  height: 100px;
  width: auto;
}

nav {
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

nav ul { 
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
  transition: background-color 0.3s, color 0.3s;
}

nav li a {
  color: rgb(255, 0, 0);
  transition: color 0.3s;
}

nav li:hover {
  background-color: rgb(255, 0, 0)  ;
  border-radius: 5px;
}

nav li:hover a {
  color: black;
}


#tcoupled{
  display: flex;
  align-items: center;
}

#tcoupled img{
  width:25%;
}

/*End of Reyansh Header*/



/* Predict Page */
#inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputs .formvalues{
  margin:5px;
  font-size: 125%;
  font-weight: bold;
}

#inputs .formvalues input,select{
  margin:5px;
  font-size: 100%;
}

#inputs #submit{
  font-size: 150%;
  margin-top: 5%;
}